@font-face {
  font-family: 'SF Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/sf-mono/SFMonoRegular.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoRegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoLight.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoLightItalic.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoMedium.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoMediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoSemibold.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoSemiboldItalic.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/sf-mono/SFMonoBold.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Bold Italic'), url('SFMonoBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Heavy'), url('SFMonoHeavy.woff') format('woff');
}


@font-face {
  font-family: 'SF Mono Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Heavy Italic'), url('SFMonoHeavyItalic.woff') format('woff');
}
